/*
 * ====================================================================
 *
 * Copyright (c) 2001 Sun Microsystems, Inc.  All rights reserved.
 *  
 *  The Sun Project JXTA(TM) Software License
 *  
 *  Redistribution and use in source and binary forms, with or without 
 *  modification, are permitted provided that the following conditions are met:
 *  
 *  1. Redistributions of source code must retain the above copyright notice,
 *     this list of conditions and the following disclaimer.
 *  
 *  2. Redistributions in binary form must reproduce the above copyright notice, 
 *     this list of conditions and the following disclaimer in the documentation 
 *     and/or other materials provided with the distribution.
 *  
 *  3. The end-user documentation included with the redistribution, if any, must 
 *     include the following acknowledgment: "This product includes software 
 *     developed by Sun Microsystems, Inc. for JXTA(TM) technology." 
 *     Alternately, this acknowledgment may appear in the software itself, if 
 *     and wherever such third-party acknowledgments normally appear.
 *  
 *  4. The names "Sun", "Sun Microsystems, Inc.", "JXTA" and "Project JXTA" must 
 *     not be used to endorse or promote products derived from this software 
 *     without prior written permission. For written permission, please contact 
 *     Project JXTA at http://www.jxta.org.
 *  
 *  5. Products derived from this software may not be called "JXTA", nor may 
 *     "JXTA" appear in their name, without prior written permission of Sun.
 *  
 *  THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES,
 *  INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
 *  FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL SUN 
 *  MICROSYSTEMS OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
 *  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT 
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, 
 *  OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
 *  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
 *  NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
 *  EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *  
 *  JXTA is a registered trademark of Sun Microsystems, Inc. in the United 
 *  States and other countries.
 *  
 *  Please see the license information page at :
 *  <http://www.jxta.org/project/www/license.html> for instructions on use of 
 *  the license in source files.
 *  
 *  ====================================================================
 *  
 *  This software consists of voluntary contributions made by many individuals 
 *  on behalf of Project JXTA. For more information on Project JXTA, please see 
 *  http://www.jxta.org.
 *  
 *  This license is based on the BSD license adopted by the Apache Foundation. 
 */
  
grant codeBase "file:dist/jxta.jar" {
  permission java.awt.AWTPermission "accessClipboard";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";

  permission java.io.FilePermission "-", "read,write,delete";
  
  permission java.net.NetPermission "specifyStreamHandler";
  permission java.net.NetPermission "resolve";

  permission java.util.PropertyPermission "java.class.path", "read";

  permission java.util.PropertyPermission "sun.net.client.defaultConnectTimeout", "read";

  permission java.util.PropertyPermission "user.dir", "read";

  permission java.util.PropertyPermission "user.home", "read";

  permission java.util.PropertyPermission "JXTA_HOME", "read";

  permission java.util.PropertyPermission "jxta.tcp.port", "read";
  permission java.util.PropertyPermission "jxta.proxy", "read";
  permission java.util.PropertyPermission "jxta.proxy.port", "read";
  permission java.util.PropertyPermission "jxta.peer.name", "read";

  permission java.util.PropertyPermission "net.jxta.tls.principal", "read,write";
  permission java.util.PropertyPermission "net.jxta.tls.password", "read,write";
  
  permission java.util.PropertyPermission "net.jxta.http.allowdownload", "read";

  permission java.util.PropertyPermission "net.jxta.impl.cm.index.rebuild", "read";
 
  permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.protocol.urn";

  permission java.lang.RuntimePermission "createClassLoader";  
  permission java.lang.RuntimePermission "setContextClassLoader";
  
  permission java.net.SocketPermission "*", "accept,listen,connect,resolve";

  //permission java.net.SocketPermission "*:1024-", "accept,listen,connect,resolve";
  //permission java.net.SocketPermission "*", "resolve";
  //permission java.net.SocketPermission "*:80", "connect,resolve";

   
  // for shell
  permission java.util.PropertyPermission "JXTA_SHELL_EMBEDDED", "read,write";
  permission java.util.PropertyPermission "SHELLNOWINDOW", "read";
  permission java.util.PropertyPermission "SHELLFONTSIZE", "read";  

  // For bouncy castle
  permission java.security.SecurityPermission "putProviderProperty.BC";
  permission java.security.SecurityPermission "insertProvider.BC";  
  };

grant codeBase "file:../../../shell/binding/java/dist/jxtashell.jar" {
  // for shell
  permission java.awt.AWTPermission "accessClipboard";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
 
  permission java.io.FilePermission "-", "read,write,delete"; 

  permission java.io.FilePermission "<<ALL FILES>>", "read"; 

  permission java.net.NetPermission "specifyStreamHandler";
  
  permission java.lang.RuntimePermission "createClassLoader";  
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "exitVM";  

  permission java.util.PropertyPermission "java.class.path", "read";

  permission java.util.PropertyPermission "JXTA_SHELL_EMBEDDED", "read,write";
  permission java.util.PropertyPermission "SHELLNOWINDOW", "read";
  permission java.util.PropertyPermission "SHELLFONTSIZE", "read";  
  };
 
grant codeBase "file:lib/org.mortbay.jetty-jdk14.jar" {
  // For Jetty
  permission java.io.FilePermission "-", "read,write,delete"; 

  permission java.net.NetPermission "specifyStreamHandler";
  permission java.net.NetPermission "resolve";

  permission java.net.SocketPermission "*:1024-", "accept,listen,connect,resolve";
  permission java.net.SocketPermission "*", "resolve";
  permission java.net.SocketPermission "*:80", "connect,resolve";

  permission java.util.PropertyPermission "THREADPOOL_THREAD_CLASS", "read";
  permission java.util.PropertyPermission "THREADPOOL_MIN_THREADS", "read";
  permission java.util.PropertyPermission "THREADPOOL_MAX_THREADS", "read";
  permission java.util.PropertyPermission "THREADPOOL_NULL_LOCK_CHECKS", "read";
  permission java.util.PropertyPermission "DEBUG", "read";
  permission java.util.PropertyPermission "DEBUG_OPTIONS", "read";
  permission java.util.PropertyPermission "DEBUG_PATTERNS", "read";
  permission java.util.PropertyPermission "DEBUG_VERBOSE", "read";
  permission java.util.PropertyPermission "org.mortbay.http.Version.paranoid", "read";
  permission java.util.PropertyPermission "java.org.mortbay.http.Version.paranoid", "read";
  permission java.util.PropertyPermission "org.mortbay.http.PathMap.separators", "read";
  };

grant codeBase "file:lib/bcprov-jdk14.jar" {
  // For bouncey castle
  permission java.io.FilePermission "-", "read"; 

  permission java.security.SecurityPermission "putProviderProperty.BC";

  permission java.security.SecurityPermission "insertProvider.BC";
  };  
